<f:layout name="Default" />

<f:section name="Main">
	<f:if condition="{news}">
		<div class="tx-news-popular__row row">
			<f:for each="{news}" as="newsItem">
				<f:render partial="News/Item" arguments="{_all}" />
			</f:for>
		</div>
	</f:if>
</f:section>