<html xmlns:n="http://typo3.org/ns/GeorgRinger\News\ViewHelpers" data-namespace-typo3-fluid="true">

<div class="tx-news-popular__item col-xs-12 col-sm-12" itemscope="itemscope" itemtype="http://schema.org/Article">
	<h3 class="tx-news-popular__header">
		<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
			<span itemprop="headline">{newsItem.title}</span>
		</n:link>
	</h3>
	<span class="tx-news-popular__date">
		<time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
			<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
			<meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" />
		</time>
	</span>
	<div class="tx-news-popular__teaser" itemprop="description">
		<f:if condition="{settings.tx_news.cropMaxCharacters}">
			<f:then>
				<f:if condition="{newsItem.teaser}">
					<f:then>
						{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.tx_news.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
					</f:then>
					<f:else>
						{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.tx_news.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}
					</f:else>
				</f:if>
			</f:then>
			<f:else>
				<f:format.nl2br>{newsItem.teaser}</f:format.nl2br>
			</f:else>
		</f:if>
		<n:link newsItem="{newsItem}" settings="{settings}" class="tx-news-popular__more" title="{newsItem.title}">
			<f:translate key="more-link"/>
		</n:link>
	</div>
</div>